

			</div><!-- close p_row_ -->
		</div><!-- close p_container_ -->
		<div class="box info">
			<span class="ajax" id="timenow" style="float:left;">Time: <?php echo date('H:i:s', time()); ?></span><span style="float:right"><a href="index.php">Home</a></span>
		</div>
		<br /><br /><br />
	</div><!-- close wrap -->
	</div><!-- close gutter -->

</div></div></div></div></div>

<div class="footer">
	<a href="./pages">Home</a> &bull;
	<a href="./about">About</a> &bull;
	<a href="./admin/panel">ACP</a> &bull;
	<a href="./install.php">Installation</a>
	<div class="copyright">
		<a class="copyright" href="https://github.com/phpbbireland">Echo Keyboard Editor &copy; Michale O'Toole 2024</a>
		<?php echo '<br />[ Authorised User: ' . $_SESSION['user']; echo ' ]'; ?>
	</div>
</div>

</body>
</html>
